@model PagedList.IPagedList<ToDoApp.Models.ApplicationUser>

<h4>Team Members</h4>
@using PagedList.Mvc;
@using PagedList;

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            @if (ViewBag.HasRights)
            {
                <td style="text-align: right">
                    @Html.ActionLink("Remove member", "RemoveMember", new { teamId = ViewBag.TeamId, memberId=item.Id }, new { Style = "color:black; height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #54b86f; border-radius: 10px; text-decoration:none;" }) 
                </td>
            }
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Details", "Teams", new {i }))

<style>
    html, body {
        overflow-x: hidden;
    }

    dd, dt, h1, h2, h3, h4, h5, h6, p, th, td {
        color: white;
    }

    .anotheruser {
        color: white;
    }

        .anotheruser:hover {
            color: #7792bf;
        }
</style>