@{
    ViewBag.Title = "Dashboard";
}
<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
@*
        <div class="sidebar">
        <a class="active" href="#home">Dashboard</a>
        <a href="#news">Teams</a>
        <a href="#contact">Projects</a>
        <a href="#about">Users</a>
    </div>*@

<div class="dashboard-content">
    <div class="left-content" style="overflow-y:scroll;">
        <div class="left-title" style="background-color: #d6aca9; padding-top: 3%; border-top-left-radius: 7px;">
            <h3 style="text-align:center; margin: 0;">NOT STARTED</h3>
            <hr style="color: black;" />
        </div>
        <div class="left-content-content">
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 1</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 2</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 3</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 4</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 5</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
        </div>
    </div>

    <div class="middle-content" style="overflow-y: scroll;">
        <div class="middle-title" style="background-color: #9ba3cf; padding-top: 3%">
            <h3 style="text-align:center; margin: 0;">STARTED</h3>
            <hr />
        </div>
        <div class="middle-content-content">
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 1</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 2</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 3</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 4</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 5</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
        </div>
    </div>
    
    <div class="right-content" style="overflow-y: scroll;">
        <div class="right-title" style="background-color: #a9d6b1; padding-top: 3%; border-top-right-radius: 7px;">
            <h3 style="text-align:center; margin: 0;">FINISHED</h3>
            <hr />
        </div>
        <div class="right-content-content">
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 1</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 2</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 3</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 4</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
            <div style="width:96%;min-height:100px;background-color:#363636; margin-bottom: 3%;margin-left:2%;margin-right:2%; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                <h4 style="color:white; text-align:center;">Project 5</h4>
                <p style="color:white; font-size:12px; margin-left:5px;">sdsads gsdaaaaa aaaaaf fdssssss fsd gdf gsfsd fyug ewufy sdkjgv fsdau fuysgu fewg fug sdjfds ghfu ewy sdgfjksh dfksdif yugsa iofdsio fuysg fsdhfoiueg f</p>
            </div>
        </div>
    </div>
</div>

<style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        display: none;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px white;
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #363636;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }
</style>

<style>
    .left-content{
        padding:0;
        margin-top: 3%;
        margin-right: 1%;
        margin-left: 2%;
        /*background-color:black;*/
        display:inline-block;
        float: left;
        width: 30%;
        height: 90%;
        border: 1px solid black;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 10px;
    }
    
    .middle-content{
        margin-top: 3%;
        margin-right: 2%;
        margin-left: 2%;
        /*background-color:black;*/
        display:inline-block;
        width: 30%;
        height: 90%;
        border: 1px solid black;
    }
    
    .right-content{
        margin-top: 3%;
        margin-right: 2%;
        margin-left: 1%;
        /*background-color:black;*/
        display:inline-block;
        float: right;
        width: 30%;
        height: 90%;
        border: 1px solid black;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 10px;
    }

    .dashboard-content{
        width: 90%;
        height: 100%;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
</style>

@*<style>
    html, body{
        height: 100%;
        margin:0;
        padding:0;
    }

    .sidebar-menu{
        height: 100%;
        position: fixed;
        width: 200px;
        margin-left: 0px;
        padding:0;
        background-color: white;
        border: 1px solid black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    }

    .sidebar {
        margin:0;
        margin-top:50px;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
    }

    .sidebar a.active {
        background-color: #4CAF50;
        color: white;
    }

    .sidebar a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
    }*@

@*@media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }

    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }

    </style>*@