<h2 style="color:whitesmoke">Welcome to <u style="color: #54b86f;">ToDoApp</u>, the #1 management app!</h2>
<br />
<hr/>
<br />
<br />
@*<div class="left">
    <p style="color:whitesmoke"><b style="color: #54b86f;">ToDoApp</b> is the best software for any kind of company.</p>
</div>*@

<div class="leftt" style="height:220px; width: 50%; float:left;">
    <p style="color:whitesmoke">
        <b style="color: #54b86f; font-size: 15px;">ToDoApp</b> is the best software for any kind of company.
    </p>
    <p style="color: white;">
        <b style="color: #54b86f; font-size: 15px;">ToDoApp Software</b> is built for every member of your software team to plan,track, and release great software.
    </p>
    <h4 style="color: #54b86f;"><b><u>Plan</u></b></h4>
    <p style="color: white;">Create user stories and issues, plan sprints, and distribute tasks across your software team.</p>

    <h4 style="color: #54b86f;"><b><u>Track</u></b></h4>
    <p style="color: white;">Prioritize and discuss your team’s work in full context with complete visibility.</p>
</div>
<div class="rightt" style="height:220px; width: 50%; float:right;">
    <img style="max-height:100%; max-width:100%" src="Content/Images/Dashboard1.png"/>
</div>

<style>

    .unu{
        padding: 0;
        margin: 0;
        width: 100%;
        /*background-color: red;*/
    }
</style>