@{
    ViewBag.Title = "Index";
}

<div class="dashboard-content">
    <h2 style="text-align:center;">Users</h2>
</div>

<style>
    .dashboard-content {
        width: 90%;
        height: 100%;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
</style>