@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="dashboard-content">

    <h2 style="text-align:center; display: inline; margin-left: 42%;">Users</h2>
    <a href="" style="float: right; margin-top: 1%;"><i class="material-icons">add</i></a>

    <table style="width:100%; margin-top: 1%; border-bottom:none;">
        <tr>
            <th>User</th>
            @*<th>Number of teams</th>*@
            @*<th>Number of tasks done</th>*@
        </tr>

        @foreach (var user in ViewBag.Users)
         {
            <tr>
                @*<td>@user.Username</td>*@
                <td>@user.LastName</td>
            </tr>
         }

        <!--<tr>
            <td>Alexandru</td>
            <td>1 team</td>
            <td>5</td>
            <td style="border: none; text-align: center;"><a href="" style="height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #6bd9ed; border-radius: 10px;">details</a></td>
            @*<td style="border: none; padding:0; margin:0; text-align: center;"><button style="width:50px; height: 15px; background-color:aqua; border-radius: 5px; box-shadow:none;"></button></td>*@
        </tr>
        <tr>
            <td>Mihail</td>
            <td>2 teams</td>
            <td>0</td>
            <td style="border: none; text-align: center;"><a href="" style="height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #6bd9ed; border-radius: 10px;">details</a></td>
            @*<td style="border: none; padding:0; margin:0; text-align: center;"><button style="width:50px; height: 15px; background-color:aqua; border-radius: 5px; box-shadow:none;"></button></td>*@
        </tr>
        <tr>
            <td>Virgil</td>
            <td>4 teams</td>
            <td>10</td>
            <td style="border: none; text-align: center;"><a href="" style="height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #6bd9ed; border-radius: 10px;">details</a></td>
            @*<td style="border: none; padding:0; margin:0; text-align: center;"><button style="width:50px; height: 15px; background-color:aqua; border-radius: 5px; box-shadow:none;"></button></td>*@
        </tr>
        <tr>
            <td>Alexandra</td>
            <td>3 teams</td>
            <td>2</td>
            @*<td style="border: none; padding:0; margin:0; text-align: center;"><button style="width:50px; height: 20px; background-color:aqua; border-radius: 5px;">details</button></td>*@
            <td style="border: none; text-align: center;"><a href="" style="height: 15px; width: 60px; padding-bottom: 1px; padding-top:1px; padding-right: 10px; padding-left:10px; background-color: #6bd9ed; border-radius: 10px;">details</a></td>
        </tr>-->
    </table>
</div>

<style>
    .dashboard-content {
        width: 90%;
        height: 100%;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        text-align: center;
    }

    td {
        padding-left: 1%;
    }
</style>