@*@using PassDatainMVC.Models*@
@{
    ViewBag.Title = "Edit";
}

@*@model PassDatainMVC.Models.Record*@

    <div class="dashboard-content">
        <h2 style="color:black; text-align:center; display: inline; margin-left: 42%;">Project @Model.ProjectId</h2>

        <h3>Detaliile proiectului</h3>
        <div class="edit_p_1" style="padding-top: 2%;">
            <div style="margin-left: 5%;">
                <div style="display: inline;"><h4 style="display: inline; margin-top: 50px;">Manager Proiect: </h4></div>
                <div style=" margin-bottom:10px; display: inline;"><h4 style="display: inline;">@Model.UserId</h4></div>
            </div>

            <div style="margin-left: 5%;">
                <h4 style="display: inline; margin-top: 50px;">Last update: </h4>
                <h4 style="display: inline; margin-top: 50px;">@Model.LastUpdate</h4>
            </div>

            <div style="margin-left: 5%;">
                <h4 style="display: inline; margin-top: 50px;">Projects No. of tasks: </h4>
                <h4 style="display: inline; margin-top: 50px;">213123</h4>
            </div>
        </div>

        <h3>Descrierea proiectului</h3>
        <div class="edit_p_2" style="padding-top: 2%;">
            <h3 >
                @Model.Description
            </h3>
        </div>

        @*<div class="edit_p_3">

        </div>*@

    </div>

<style>
    .dashboard-content {
        width: 90%;
        height: 100%;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .edit_p_1{
        background-color: gray;
        height: 150px;
        width: 90%;
        margin-left:5%;
        border-radius: 10px;
    }

    .edit_p_2{
        background-color: gray;
        height: 150px;
        width: 90%;
        margin-left:5%;
        /*margin-top:5%;*/
        border-radius: 10px;
    }

    h3{
        margin-top:3%;
        margin-left:5%;
    }

    /*.edit_p_3{
        background-color: gray;
    }*/
</style>



