@{
    ViewBag.Title = "Index";
}

<div class="dashboard-content">
    <h2 style="text-align:center;">Projects</h2>

    <table style="width:100%;">
        <tr>
            <th>Project</th>
            <th>Team</th>
            <th>Manager</th>
        </tr>
        <tr>
            <td>Project 1</td>
            <td>Team 5</td>
            <td>Alexandru</td>
        </tr>
        <tr>
            <td>Project 2</td>
            <td>Team 0</td>
            <td>Mihail</td>
        </tr>
        <tr>
            <td>Project 4</td>
            <td>Team 10</td>
            <td>Virgil</td>
        </tr>
        <tr>
            <td>Project 3</td>
            <td>Team 2</td>
            <td>Alexandra</td>
        </tr>
    </table>

</div>

<style>
    table,th,td{
        border: 1px solid black;
        border-collapse: collapse; 
    }

    th{
        text-align: center;   
    }

    td{
        padding-left:1%;
    }

    .dashboard-content{
        width: 90%;
        height: 100%;
        background-color: #f1f1f1;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
</style>
