@model ToDoApp.Models.UserToTeam

@{
    ViewBag.Title = "AddMember";
}

<h2 style="color:white">Add Member</h2>

<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.TeamId)
    <div class="form-horizontal">

        <label style="color:white">Select member to add</label>

        @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.Members, "Value", "Text"),
            "Select member", new { @class = "form-control" })

        @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="text-align:left; padding:0; margin-left: 15px;">
                <input type="submit" value="Save" class="btn btn-default" style=" background-color: #4CAF50; border:none; color:black"/>
            </div>
        </div>
    </div>
}
